body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard {
    height: 5300px;
    background-color: #F0EBE3;
    width: 90%;
}

#title {
	text-align: center;
	font-size: 35px;
    font-family: 'Rockwell', sans-serif;
}

#title hr {
    height: 5px;
    background-color: #000; /* Adjust color as needed */
    margin: -10px auto 20px auto; /* Adjust margin as needed */
}

#background h2 {
	font-size: 35px;
    font-family: "Tahoma", sans-serif;
	color: #000;
	text-align: center;
}

#background p{
	font-size: 25px;
    font-family: "Calibri", sans-serif;
	background-color: #F0EBE3;
	text-align: center;
    text-justify: inter-word;
}

#buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#buttons button {
    background-color: #003152; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    font-size: 20px; /* Font size */
    font-family: "Tahoma", sans-serif;
	font-weight: bold;
    margin: 0px 30px; /* Margin */
    cursor: pointer; /* Pointer cursor */
    flex: 1; /* Equal width */
    margin: 0;
}

#buttons button:not(:last-child) {
    border-right: 1px solid white; /* Add border between buttons */
}

#buttons button:hover {
    background-color: #6092ae; /* Green background on hover */
    color: white; /* White text on hover */
}

#switchButton {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
}

#toggleButton {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    background-color: #c84a31; /* Green background */
    color: white; /* White text */
    padding: 10px 30px; /* Padding */
    text-align: center; /* Center text */
    font-size: 18px; /* Font size */
    font-weight: bold;
    margin: 0px 10px; /* Margin */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    border : none;
}

#switchButton button:hover {
    background-color: #FF8343; /* Green background on hover */
    color: white; /* White text on hover */
}

#switchButtonLabel {
    font-size: 20px; /* Font size */
    font-family: "Tahoma", sans-serif;
    font-weight: bold; /* Bold text */
    color: #003152; /* Text color */
}


#vis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#vis-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Calibri",sans-serif;
    margin-bottom: -1%;
}

#vis-text-left, #vis-text-right {
    padding: 2%;
}

#tooltip {
    position: absolute;
    background-color: #F0EBE3;
    border: 1px solid #ccc;
    padding: 0.5%;
    z-index: 1000; /* Increased z-index to ensure it appears on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    border-radius: 8px; /* Rounded corners */
    display: none; /* Initially hidden */
}

#absent_title{
    font-size: 40px;
    font-family: "Tahoma", sans-serif;
    color: #000;
    text-align: center;
}

#absent_chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

#absent {
    margin-left: -2.5%;
}

#absent_text{
    margin-left: 5%;
    margin-right: 6%;
    font-size: 20px;
    font-family: "Calibri", sans-serif; 
    color: #000;
    text-align: justify;
}

#radar_title{
    font-size: 40px;
    font-family: "Tahoma", sans-serif;
    color: #000;
    text-align: center;
}

#radar_chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -6%;
    margin-bottom: -2%;
}

#radar {
    margin-left: -5%;
    margin-top: -5%;
}

#radar_text{ 
    margin-top: 6%;
    margin-left: 4.5%;
    margin-right: 5%;
    font-size: 20px;
    color: #000;
    font-family: "Calibri", sans-serif; 
    text-align: justify;
    width: 50%;

}

#undi18_title{
    font-size: 40px;
    font-family: "Tahoma", sans-serif;
    color: #000;
    text-align: center;
}

#mosaic_chart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 50px;
}

#mosaic {
    margin-left: 4%;
}

#mosaic_text {
    font-size: 20px;
    font-family: "Calibri", sans-serif; 
    color: #000;
    margin-top: 2.5%;
    margin-left: 3%;
    margin-right: 5%;
    text-align: justify;
}

#two_chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

#pop_pyramid {
    margin-left: 4%;
}

#treemap {
    margin-right: 4%;
}

#two_chart_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#pop_pyramid_text, #treemap_text {
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    color: #000;
    text-align: justify;
    flex: 1; /* Ensure equal size */
    margin: 0 10px; /* Add some margin between the paragraphs */
    padding: 3%; /* Optional: Add padding for better spacing */
    margin-top: -6%;
}

#treemap_text{
    margin-left: -2.5%;
    margin-top: -13%;
}

.ge14-text {
    color: #CD5C08;
    font-weight: bold;
}

.ge15-text {
    color:#285f98;
    font-weight: bold;
}

.ph-text{
    color:#f34717;
    font-weight:bold;
}

.pn-text{
    color:#9944b9;
    font-weight:bold;
}

.bn-text{
    color:#0069ba;
    font-weight:bold;
}

.malay-text{
    color:#2179b5;
    font-weight:bold;
}

.chinese-text{
    color:#fa7e13;
    font-weight:bold;
}

.bumi-sarawak-text{
    color:#8c564a;
    font-weight:bold;
}

.bumi-sabah-text{
    color:#9466bd;
    font-weight:bold;
}

.male-text{
    color:#3FA2F6;
    font-weight:bold;
}

.female-text{
    color:#EF5A6F;
    font-weight:bold;
}

.majority-text{
    color:#aa0081;
    font-weight:bold;
}

#metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #000; /* Add border */
}

#self_info {
    margin-left: 4%
}

#self_info p {
    font-size: 20px;
    font-family: "Calibri", sans-serif; 
    color: #000000; /* White text */
}

#data_info {
    margin-right: 4%
}

#data_info p {
    font-size: 20px;
    font-family: "Calibri", sans-serif; 
    color: #000000; 
}

#data_info ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create two columns */
    font-size: 18px;
    font-family: "Calibri", sans-serif;
}

